
/* Your CSS Code here. */
table {
	width: 100%;
}

thead > tr {
	text-align: left;
	background-color: red;
}

tbody > tr:nth-child(1) {
	background-color: yellow;
}
tbody > tr:nth-child(2) {
	background-color: green;
}
tbody > tr:nth-child(3) {
	background-color: skyblue;
}



